.page {
   --button-primary-hover: #383838;
   --button-secondary-hover: #f2f2f2;
}

@media (prefers-color-scheme: dark) {
   /* .page {
      --button-primary-hover: #ccc;
      --button-secondary-hover: #1a1a1a;
   } */
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {
}
